workflow.json
{
  "name": "Drupal Assistant",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "loadPreviousSession": "memory",
          "responseMode": "lastNode"
        }
      },
      "id": "bb000001-0001-4001-8001-000000000001",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [0, 0],
      "webhookId": "bb000001-0001-4001-8001-0000000000aa"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are the site assistant for this Drupal website, answering in the site's chat box. Be concise, friendly, and helpful, and format answers in markdown. Answer the user's questions directly — you are the agent, so respond yourself rather than deferring to anyone else.\n\nThe message may carry a Drupal signature in its metadata describing who is asking and what page they are on. Use it to tailor your reply, and when the visitor asks about the content they are viewing, use your Drupal tools to look it up by its path or entity id.{{ ($json.metadata && $json.metadata.instructions) ? \"\\n\\nSite administrator guidance for this assistant:\\n\" + $json.metadata.instructions : \"\" }}{{ ($json.metadata && ($json.metadata.user || $json.metadata.user_roles || $json.metadata.allowed_roles || $json.metadata.path || $json.metadata.entity)) ? \"\\n\\nCurrent Drupal context:\" + ($json.metadata.user ? \"\\n- Visitor: \" + $json.metadata.user : \"\") + ($json.metadata.user_roles ? \"\\n- Visitor roles: \" + (Array.isArray($json.metadata.user_roles) ? $json.metadata.user_roles.join(\", \") : $json.metadata.user_roles) : \"\") + ($json.metadata.allowed_roles ? \"\\n- Assistant allowed roles: \" + (Array.isArray($json.metadata.allowed_roles) ? $json.metadata.allowed_roles.join(\", \") : $json.metadata.allowed_roles) : \"\") + ($json.metadata.path ? \"\\n- Page path: \" + $json.metadata.path : \"\") + ($json.metadata.entity ? \"\\n- Page entity: \" + $json.metadata.entity.type + \" #\" + $json.metadata.entity.id : \"\") : \"\" }}"
        }
      },
      "id": "bb000001-0001-4001-8001-000000000002",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [224, 0]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "bb000001-0001-4001-8001-000000000003",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [112, 160]
    },
    {
      "parameters": {
        "contextWindowLength": "={{ ($json.metadata && $json.metadata.context_window) || 10 }}"
      },
      "id": "bb000001-0001-4001-8001-000000000004",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.4,
      "position": [112, 352]
    },
    {
      "parameters": {
        "endpointUrl": "https://your-drupal-site.example/mcp/post",
        "authentication": "headerAuth",
        "include": "selected",
        "includeTools": "={{ $json.metadata.agents || [] }}",
        "options": {}
      },
      "id": "bb000001-0001-4001-8001-000000000005",
      "name": "Drupal MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [336, 352]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [[{"node": "Agent", "type": "main", "index": 0}]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{"node": "Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Postgres Chat Memory": {
      "ai_memory": [[{"node": "Agent", "type": "ai_memory", "index": 0}, {"node": "When chat message received", "type": "ai_memory", "index": 0}]]
    },
    "Drupal MCP": {
      "ai_tool": [[{"node": "Agent", "type": "ai_tool", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
